/* General */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

body {
	text-transform: uppercase;
	color: white;
	background:#070707 no-repeat center 60px url("../img/bg.jpg");
	margin: 0;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 16px;
	font-weight: bold;
}

.inner-page {
	background: #f4f1ee url("../img/content-bg.jpg");
	color: #000;
}


.container {
	max-width: 940px;
	margin: 0 auto;
}
.visually-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
}

.btn {
	display: inline-block;
	border: none;
	min-width: 100px;
	height: 45px;
	line-height: 45px;
	padding: 0 25px;
	background: #000;
	color: white;
	text-align: center;
	text-transform: uppercase;
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.footer-shadow {
	-webkit-box-shadow: 0 10px 20px #000 inset;
	        box-shadow: 0 10px 20px #000 inset;
}

/*header */
.navbar {
	height: 70px;
	background: black;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 60px;
}

.navbar .container {
	width: 940px;
}

.nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.site-nav, .user-nav {
	padding: 0;
	margin: 0;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}

.nav-item a, .sign-in a, .active{
	display: inline-block;
	color: white;
	line-height: 70px;
	height: 100%;
	padding: 0 20px;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.logo {
	vertical-align: middle;
}

.sign-in a::before{
	content: "";
	position: absolute;
	top: 28px;
	left: 0;
	width: 15px;
	height: 15px;
	background: no-repeat center url("../img/login.png");
	opacity: .3;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.index-logo {
	display: inherit;
	max-width: 370px;
	margin: 0 auto 75px;
}

.advantages {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	padding: 0;
	color: #f7f4f1;
	margin-bottom: 85px;
}

.advantages-item {
	position: relative;
	width: 300px;
	margin: 0 10px;
}

.advantages-item strong {
	display: block;
	text-align: center;
	margin: 0 0 75px;
}

.advantages-item strong::after {
	content: "";
	position: absolute;
	top: 40px;
	left: 50%;
	-webkit-transform: translate(-50%, 0) rotate(45deg);
	    -ms-transform: translate(-50%, 0) rotate(45deg);
	        transform: translate(-50%, 0) rotate(45deg);
	width: 20px;
	height: 20px;
	background: #f7f4f1;
}

.advantages-item p {
	text-align: center;
	font-size: 14px;
	line-height: 24px;
}

.breadcrumbs {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	padding: 0;
	margin-bottom: 50px;
	font-size: 14px;
	line-height: 24px;
}

.breadcrumbs li {
	position: relative;
	margin-right: 40px;
}

.breadcrumbs a{
	color: #000;
}

.breadcrumbs li:not(.current)::after {
	content: "";
	position: absolute;
	top: 50%;
	right: -27px;
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	    -ms-transform: translate(-50%, -50%) rotate(45deg);
	        transform: translate(-50%, -50%) rotate(45deg);
	width: 8px;
	height: 8px;
	background: #000;
}

/*main section */

.index-row {
	background: #f4f1ee url("../img/content-bg.jpg");
	color: black;
	padding: 50px 60px;
	margin-bottom: 35px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
}

.index-row h2, .modal-login h2, .page-title {
	font-size: 30px;
	line-height: 42px;
	margin-top: 0;
}

.left-sect {
	max-width: 380px;
	margin: 0 10px;
}

.left-sect::after{
	content: "";
	position: absolute;
	width: 8px;
	height: 280px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	background: no-repeat url("../img/vert-divider.png");
}

.news-list {
	list-style: none;
	padding: 0;
}

.news-item, .info p, .appointment p, .modal-login p, .login-form label, .login-form a{
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 20px;
}

.news-item p {
	margin: 10px 0 0;
}
.news-item time {
	text-transform: none;
}

.right-sect {
	max-width: 300px;
	margin-left: auto;
	margin-right: 20px;
}

.gallery {
	margin: 35px 0 40px;
	background: #ccc;
	border: #fff solid 7px;
	overflow: hidden;
}

.gallery img {
	vertical-align: bottom;
}

.fwd-btn {
	float: right;
}

.info .btn {
	margin-right: 25px;
}

.appointment-form {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	font-size: 14px;
	line-height: 24px;
}

.appointment-item label {
	display: block;
	margin-bottom: 10px;
}

.appointment-item input, .login-form input {
	width: 140px;
	border: 2px solid black;
	height: 40px;
	padding: 15px;
	margin-bottom: 10px;
	background: #f9f6f3;
}

.appointment-item input::-webkit-input-placeholder, .login-form input::-webkit-input-placeholder {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: rgba(0, 0, 0, .75);
}

.appointment-item input:-ms-input-placeholder, .login-form input:-ms-input-placeholder {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: rgba(0, 0, 0, .75);
}

.appointment-item input::-ms-input-placeholder, .login-form input::-ms-input-placeholder {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: rgba(0, 0, 0, .75);
}

.appointment-item input::placeholder, .login-form input::placeholder {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: rgba(0, 0, 0, .75);
}

.appointment-form .btn, .login-form .btn {
	margin-top: 15px;
	width: 100%;
}

.big-header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 48px;
	line-height: 58px;
	text-align: center;
	position: relative;
	margin-bottom: 80px;
}

.big-header::before, .big-header::after {
	content: "";
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	height: 2px;
	width: 10px;
	background: #000;
}

.row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 70px;
}

.col-6 {
	width: 50%;
	margin: 0;
	font-size: 14px;
	line-height: 24px;
}

.pr-6 {
	padding-right: 60px;
}

.pl-6 {
	padding-left: 60px;
}

.mb-5 {
	margin-bottom: 50px;
}

.header {
	font-size: 24px;
	line-height: 30px;
	margin:0 0 30px;
}

.list {
	list-style: none;
	margin: 0;
}

.list-item {
	position: relative;
	margin-bottom: 20px;
}

.compressed {
	margin-bottom: 10px;
}

.list .list-item::before {
	content: "";
	position: absolute;
	top: 50%;
	left: -20px;
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	    -ms-transform: translate(-50%, -50%) rotate(45deg);
	        transform: translate(-50%, -50%) rotate(45deg);
	width: 8px;
	height: 8px;
	background: #000;
}

.price-table {
	width: 100%;
	border-collapse: collapse;
}

.price-table td {
	width: 50%;
	padding: 15px 20px;
	border: 2px solid #000;
}

.col-3 {
	width: 220px;
	margin-right: 10px;
}

.filter-form label {
	display: block;
}

.col-9 {
	width: 700px;
	margin-left: 10px;
}

.item-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	margin-bottom: 40px;
}

.item-card {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 220px;
	margin-bottom: 20px;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .15);
	        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
}

.card-thumbnail {
	display: inline-block;
	width: 100%;
	height: 165px;
	vertical-align: bottom;
	background: #e5e5e5;
}

.card-body {
	padding: 15px;
	background: #fff;
}

.card-body > a {
	color: #000;
}

.item-name {
	text-transform: none;
}

.price-section {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	margin-top: 10px;
}

.price {
	display: inline-block;
	width: 100%;
	padding: 0 20px;
	background: #e5e5e5;
	text-align: center;
	line-height: 45px;
}

.pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
}

.page {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 45px;
	height: 45px;
	margin-right: 5px;
	color: #fff;
	background: #000;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}

.big-thumbnail {
	display: inline-block;
	width: 460px;
	height: 498px;
	margin-bottom: 20px;
	background: #ddd;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .15);
	        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
}

.prod-thumb-bar {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-right: 10px;
}

.prod-thumb {
	display: inline-block;
	width: 140px;
	height: 149px;
	background: #ddd;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .15);
	        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
}

.item-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.details {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 30px;
}

.item-info .price-section {
	width: 200px;
	margin-bottom: 60px;
}

/* Footer */

.footer {
	background: #232323 url("../img/footer-bg.jpg");
	padding: 20px 0;
	margin-top: 60px;
}

.footer-info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	font-size: 14px;
	line-height: 24px;
	color: #fff;
}

.contacts, .social, .copyright {
	width: 300px;
}

.contacts a {
	color: white;
	-webkit-text-decoration: #909090 underline;
	        text-decoration: #909090 underline;
}

.social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
}

.social p {
	text-align: center;
}

.social-links {
	list-style: none;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
}

.social-link {
	display: inline-block;
	width: 45px;
	height: 45px;
	background: #000 no-repeat center;
	margin: 0 4px;
	-webkit-transition: background-color .2s linear;
	-o-transition: background-color .2s linear;
	transition: background-color .2s linear;
}

.soc-vk {
	background-image: url("../img/vk.svg");
}

.soc-fb {
	background-image: url("../img/facebook.svg");
}

.soc-ig {
	background-image: url("../img/instagram.svg");
}

.copyright {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.login-page {
	width: 50%;
	padding: 60px;
	margin: auto;
	background: #f4f1ee url("../img/content-bg.jpg");
	color: black;
}

.map-page {
	display: block;
	width: 780px;
	margin: 0 auto;
	border: 7px solid #fff;
	-webkit-box-shadow: 0 0 10px #000;
	        box-shadow: 0 0 10px #000; 
}

/* modal section */

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .85);
	display: none;
}

.modal-login {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 460px;
	padding: 60px;
	background: #f4f1ee url("../img/content-bg.jpg");
	color: black;
	-webkit-box-shadow: 0 0 15px #000;
	        box-shadow: 0 0 15px #000; 
}

.login-close, .map-close {
	position: absolute;
	top: 0;
	right: -20px;
	display: inline-block;
	margin: 0;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.map-close {
	top: -10px;
	right: -30px;
}

.login-close::before, .login-close::after,
.map-close::before, .map-close::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	    -ms-transform: translate(-50%, -50%) rotate(45deg);
	        transform: translate(-50%, -50%) rotate(45deg);
	width: 16px;
	height: 2px;
	background: #f4f1ee;
}

.login-form input:not([type="checkbox"]) {
	width: 100%;
	padding-right: 40px;
	position: relative;
}

.login-form input[type="text"], .login-form input[type="password"] {
	background-image: url("../img/user.svg");
	background-repeat: no-repeat;
	background-position: 96% center;
	background-size: 20px;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear
}

.login-form input[type="password"] {
	background-image: url("../img/lock.svg");
}

.checkbox-indicator {
	display: inline-block;
	position: relative;
	top: 5px;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	border: 2px solid #000;
}

.radio-indicator {
	display: inline-block;
	position: relative;
	top: 4px;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	border: 2px solid #000;
	border-radius: 50%;
}

.filter-form input[type="radio"]:checked + .radio-indicator::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #000;
}

.login-form input[type="checkbox"]:checked + .checkbox-indicator::before,
.login-form input[type="checkbox"]:checked + .checkbox-indicator::after,
.filter-form input[type="checkbox"]:checked + .checkbox-indicator::before,
.filter-form input[type="checkbox"]:checked + .checkbox-indicator::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%) rotate(45deg);
	    -ms-transform: translate(-50%, -50%) rotate(45deg);
	        transform: translate(-50%, -50%) rotate(45deg);
	width: 16px;
	height: 2px;
	background: #000;
}

.login-close::after, .map-close::after,
.login-form input[type="checkbox"]:checked + .checkbox-indicator::after,
.filter-form input[type="checkbox"]:checked + .checkbox-indicator::after {
	-webkit-transform: translate(-50%, -50%) rotate(-45deg);
	    -ms-transform: translate(-50%, -50%) rotate(-45deg);
	        transform: translate(-50%, -50%) rotate(-45deg);
}

.login-form a {
	color: black;
	text-decoration: underline;
	float: right;
	margin: 0;
}

.modal-map {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	width: 780px;
	border: 8px solid #fff;
	-webkit-box-shadow: 0 0 15px #000;
	        box-shadow: 0 0 15px #000; 
}

.modal-map img {
	vertical-align: bottom;
	background: #aba9a7;
}

/* states */

.active {
	-webkit-box-shadow: 0 -6px 0 #fff inset;
	        box-shadow: 0 -6px 0 #fff inset;
}

.page-active {
	color: #000;
	background: #fff;
}

.current, .article {
	color: #aba9a7;
}

.nav-item a:hover, .sign-in a:hover,
.nav-item a:active, .sign-in a:active {
	background: #242424;
}

.sign-in a:hover::before, .sign-in a:active::before {
	opacity: 1;
}

.login-form label:hover,
.filter-form label:hover {
	color: #663d15;
}

.btn:hover, .btn:active,
.page:not(.page-active):hover, .page:not(.page-active):active,
.social-link:hover, .social-link:active {
	background-color: #663d15;
}

.footer-info .btn:hover, .footer-info .btn:active {
	background: #fff;
	color: #000;
}

.login-form input[type="text"]:focus, .login-form input[type="password"]:focus,
.appointment-form input[type="text"]:focus {
	outline: none;
	border-color: #663d15;
}

.show {
	display: block;
	-webkit-animation: 1s ease-in-out 0s forwards slideDown;
	        animation: 1s ease-in-out 0s forwards slideDown;
}

.error {
	-webkit-animation: .2s ease-in-out 0s shake;
	        animation: .2s ease-in-out 0s shake;
}

@-webkit-keyframes slideDown {
	0% {
		-webkit-transform: translateY(-2000px);
		        transform: translateY(-2000px);
	}
	75% {
		-webkit-transform: translateY(50px);
		        transform: translateY(50px);
	}
	90% {
		-webkit-transform: translateY(-15px);
		        transform: translateY(-15px);
	}
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}

@keyframes slideDown {
	0% {
		-webkit-transform: translateY(-2000px);
		        transform: translateY(-2000px);
	}
	75% {
		-webkit-transform: translateY(50px);
		        transform: translateY(50px);
	}
	90% {
		-webkit-transform: translateY(-15px);
		        transform: translateY(-15px);
	}
	100% {
		-webkit-transform: translateY(0);
		        transform: translateY(0);
	}
}

@-webkit-keyframes shake {
	10%, 30%, 50%, 70% {
		-webkit-transform: translateX(10px);
		        transform: translateX(10px);
	}
	0%, 100% {
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
	20%, 40%, 60%, 80% {
		-webkit-transform: translateX(-10px);
		        transform: translateX(-10px);
	}
}

@keyframes shake {
	10%, 30%, 50%, 70% {
		-webkit-transform: translateX(10px);
		        transform: translateX(10px);
	}
	0%, 100% {
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
	20%, 40%, 60%, 80% {
		-webkit-transform: translateX(-10px);
		        transform: translateX(-10px);
	}
}